<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <link href="public/bootstrap.min.css" rel="stylesheet" />
    <link href="public/tailwind.min.css"  rel="stylesheet" />
    <title>Vue</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="panel panel-sm">
          <div class="panel-heading"> 
            <h4>L E A R N I N G</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="csv_file" class="control-label col-sm-3 text-right">CSV file to import</label>
              <div class="col-sm-9">
                <input type="file" id="csv_file" name="csv_file" class="form-control" @change="loadCSV($event)">
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox-inline">
                <label for="header_rows"><input type="checkbox" id="header_rows"> File contains header row?</label>
              </div>
            </div>
            
            <div class="col-sm-offset-3 col-sm-9">
              <a href="#" class="btn btn-primary">Parse CSV</a>
            </div>
            <table v-if="parse_csv">
              <thead>
                <tr>
                  <th v-for="key in parse_header"
                      @click="sortBy(key)"
                      :class="{ active: sortKey == key }">
                    {{ key }}
                    <!-- <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"> -->
                    </span>
                  </th>
                </tr>
              </thead> 
              <tr v-for="csv in parse_csv">
                <td v-for="key in parse_header">
                  {{csv[key]}}
                </td>
              </tr>
              
            </table>
          </div>
        </div>
        
      </div>
    </div>
    <script>
      const url = "/";
      const App = {
        data() {
          return {
            channel_name: '',
            channel_fields: [],
            channel_entries: [],
            parse_header: [],
            parse_csv: [],
            sortOrders:{},
            sortKey: '',
            teams: new Map(),
            learning_categories: new Map(),
            learning_points: new Map()
          };
        },

        async mounted() {
          this.grabTeams();
          this.grabLearningCategory();
        },

        filters: {
          capitalize: function (str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
          }
        },

        methods: {
          async grabTeams() {
            const getData = await fetch(url + "api/get/teams").then(response => response.json());
            for(var i in getData){
                var team = getData[i]
                this.teams.set(team.properties.id.rich_text[0].plain_text,team.id)
            }
          },
          
          async grabLearningCategory() {
            const getData = await fetch(url + "api/get/learning_categories").then(response => response.json());
            for(var i in getData){
                var learning_category = getData[i]
                var name = this.getNameForLearningCategory(learning_category.properties.Category.title[0].plain_text);
                this.learning_categories.set(name,learning_category.id)
                this.learning_points.set(learning_category.id,learning_category.properties.Point.number)
            }
            console.log(this.learning_categories)
          },
          sortBy: function (key) {
            var vm = this
            vm.sortKey = key
            vm.sortOrders[key] = vm.sortOrders[key] * -1
          },
          csvJSON(csv){
            var vm = this
            var lines = csv.split("\n")
            var result = []
            var headers = lines[0].split(";")
            vm.parse_header = lines[0].split(";") 
            lines[0].split(";").forEach(function (key) {
              vm.sortOrders[key] = 1
            })
            
            lines.map(function(line, indexLine){
              if (indexLine < 1) return // Jump header line
              
              var obj = {}
              var currentline = line.split(";")
              
              headers.map(function(header, indexHeader){
                obj[header] = currentline[indexHeader]
              })
              
              result.push(obj)
            })
            
            result.pop() // remove the last item because undefined values
            
            return result // JavaScript object
          },
          loadCSV(e) {
            var vm = this
            if (window.FileReader) {
              var reader = new FileReader();
              reader.readAsText(e.target.files[0]);
              // Handle errors load
              reader.onload = function(event) {
                var csv = event.target.result;
                vm.parse_csv = vm.csvJSON(csv)
                //console.log(vm.parse_csv[0]["#"])
                vm.addLearning()
              };
              reader.onerror = function(evt) {
                if(evt.target.error.name == "NotReadableError") {
                  alert("Canno't read file !");
                }
              };
            } else {
              alert('FileReader are not supported in this browser.');
            }
          },

          addLearning(){
            var vm = this
            var csv = vm.parse_csv
            for(var row in vm.parse_csv){
              vm.sendLearning(csv[row]["learning_name"], csv[row]["learner"], csv[row]["learning_category"], csv[row]["learning_date"], csv[row]["point_to_claim"], csv[row]["status"], csv[row]["person"])
            }
          },

          getNameForLearningCategory(name){
            name = name.replace(/\s/g, '');
            return name.toUpperCase();
          },
          
          async sendLearning(learning_name, learner, learning_category, learning_date, point_to_claim, status) {
            learner = this.teams.get(learner)
            learning_category = this.learning_categories.get(this.getNameForLearningCategory(learning_category))
            point_to_claim = point_to_claim == null || point_to_claim == "" ? this.learning_points.get(learning_category) : point_to_claim
            console.log({ learning_name: learning_name, learner: learner, learning_category: learning_category, learning_date: learning_date, point_to_claim: point_to_claim, status: status})
              if(learner != null && learning_category != null){
                const js = await fetch(url + "learning", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ learning_name: learning_name, learner: learner, learning_category: learning_category, learning_date: learning_date, point_to_claim: point_to_claim, status: status})
                    });
                const json = js.json();
                console.log("got back", js);
              }
          }
        }
      };
      const app = Vue.createApp(App);
      app.mount("#app");
    </script>
  </body>
</html>
